models/bak/*
kicad/ember-backups/*
kicad/ember_flight_recorder/.history
cart/
*-bak
*.bak
*.tmp
*.kicad_prl

*-cache.lib
*.net
*.rpt
*.lck
*.FCBak

gerbers/
drill/
plot/
fabrication/

# OS
.DS_Store
Thumbs.db
fp-info-cache
kicad/.history


kicad/ember_flight_recorder/ember_flight_recorder-backups/*
kicad/ember_launch_controller/ember_launch_controller-backups/*